/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Concert One', cursive;
    color: #29202B;
}

body {
    background-color: #F7FDFF
}

.overflow-wrap-normal {
    overflow-wrap: normal;
}

.title {
    margin-top: 10%;
    margin-bottom: 50px;
  }